{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-3"></div>
<div class="col-6">
    <div class="card">
        <div class="card-header">
            Смена пароля завершена.
        </div>
        <div class="card-body">
            Мы отправили вам новый пароль на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
        </div>
        <div class="card-footer">
            <a href="{% url 'users:login' %}" class="btn btn-danger">Перейти к входу на сайт</a>
        </div>
    </div>
</div>

{% endblock %}