{% extends 'catalog/base.html' %}
{% load FilterExtension %}
{% block content %}
    <table width="100%" style="margin-bottom: 20px;">
        <tr>
            <td>
                <h3 style="color: orange;">{{ title }}</h3>
            </td>
            <td style="text-align: right;">
                <a href="{% url 'catalog:create_blog' %}" class="btn btn-outline-secondary">Создать статью</a>
            </td>
        </tr>
    </table>
    <div class="row mb-2">
        {% for object in object_list %}
        <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-300" style="margin: 20px; background-color: #e9ecef">
                    <strong class="d-inline-block mb-2 text-primary" style="margin: 10px;"><a href="{% url 'catalog:blog_view' object.slug %}">{{ object.name }}</a></strong>
                </div>
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-md-2 text-primary">{{ object.slug }}</strong>
                    <p class="card-text mb-5">{{ object.content }}</p>
                    <div class="mb-1 text-muted">Дата создания: {{ object.date_of_creation }}</div>
                    <strong class="d-inline-block mb-md-2 text-primary">Количество просмотров: {{ object.number_of_views }}</strong>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <a href="{% url 'catalog:update_blog' object.slug %}" class="btn btn-outline-secondary">Изменить статью</a>
                            </td>
                            <td>
                                <a href="{% url 'catalog:delete_blog' object.slug %}" class="btn btn-outline-danger">Удалить статью</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body d-flex flex-column align-items-start">
                    <img style="height: 500px; width: 500px; margin-top: 10px; margin-right: 10px;" src="{{ object.image|mediapath }}" alt="image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}