{% extends 'catalog/base.html' %}

{% block content %}
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 style="color: orange;">Создание нового продукта</h3>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <table>
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <tr class="table">
              <td>{{ form.as_p }}</td>
            </tr>
            {% endfor %}
          </table>
          <input type="submit" class="btn btn-outline-primary" value="{% if object %}Сохранить{% else %}Создать{% endif %}">
        </form>
      </div>
      <div class="card-footer">
        <a href="{% url 'catalog:products' %}" class="btn btn-outline-primary">Назад</a>
      </div>
    </div>
  </div>
{% endblock %}